<div class="miExperiencia">
    <h3>Experiencia</h3>
    
    <div class="alignExp">
        <img src="../assets/img/arg.jpg" class="imgLogoTrabajo flex" alt="">
        <div class="panelBotones"> 
            <button type="button" class="btn btn-outline-success"><i class="fa-solid fa-pen-to-square"></i></button>
            <!-- <button type="button" class="btn btn-outline-danger"><i class="fa-solid fa-trash"></i></button> -->
        </div>
        <h4>Emprendimiento Personal</h4>
        
        <ul>
            <li>Mantenimiento de PC</li>
            <li>Redes LAN</li>
            <li>Formateos y Back Up's</li>
            <li>Sistemas Operativos</li>
        </ul><br>
        <img src="../assets/img/arg.jpg" class="imgLogoTrabajo flex" alt="">
        <h4>Diseño Web</h4>
        <p>
            Creación de páginas web de contenido estático para emprendimientos familiares, amigos y pequeñas empresas de mi ciudad.
        </p><br>
        <img src="../assets/img/arg.jpg" class="imgLogoTrabajo flex" alt="">
        <h4>Organización de Seguros</h4>
        <p>
            Administrativo, siniestros, cobranza, manejo de caja y ventas. Gestión de cartera.
        </p>
    </div>
    <br>
</div>
