<header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">
            <img src="../assets/img/logoAP.png" alt="" width="75" height="35">
            <strong>#YOPROGRAMO</strong>
          </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#"><i class="fa-solid fa-house"></i></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="https://github.com/gyaceszen" target="_blank"><i class="fa-brands fa-github"></i></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="https://ar.linkedin.com/in/gaston-yaceszen" target="_blank"><i class="fa-brands fa-linkedin"></i></a>
                </li>
                <!-- si NO esta logueado -->
                <li class="nav-item">
                  <a class="nav-link active" *ngIf="!(auth.isAuthenticated$ | async)" (click)="login()" aria-current="page" href="#" target="_blank">Ingresar <i class="fa-solid fa-lock-keyhole"></i></a>
                </li>
                <!-- si esta logueado -->
                <li class="nav-item">
                  <a class="nav-link active" *ngIf="(auth.isAuthenticated$ | async)" (click)="logout()" aria-current="page" href="#" target="_blank">Salir <i class="fa-solid fa-lock-keyhole-open"></i></a>
                </li>
            </ul>
          </div>
        </div>
    </nav>
    <div class="miBanner"> 
      <img src="../assets/img/banner-black.png" class="img-fluid">
    </div>
  </header>
