<div class="misProyectos">
    <h3>Proyectos</h3>
    <div class="panelBotones"> 
        <button type="button" class="btn btn-outline-success"><i class="fa-solid fa-pen-to-square"></i></button>
        <!-- <button type="button" class="btn btn-outline-danger"><i class="fa-solid fa-trash"></i></button> -->
    </div>
    <ul>
        <li>Hoteles</li>
            <a href="#">mishoteles.com</a>
            <!-- <img src="" alt="img del sitio"> -->
        <li>Pesca</li>
            <a href="#">mispescas.com</a>
            <!-- <img src="" alt="img del sitio"> -->
        <li>Criptomonedas</li>
            <a href="#">misbtc.com</a>
            <!-- <img src="" alt="img del sitio"> -->
    </ul>
</div>