<div class="miEducacion">
  <h3>
    Educación
    <button type="button" style="float: right" class="btn btn-outline-dark">
      Añadir
    </button>
  </h3>

  <div *ngFor="let educacion of educaciones">
    <div class="alignExp">
      <div class="panelBotones">
        <!-- <button type="button" class="btn btn-outline-dark">
          <i class="fa-solid fa-plus"></i>
        </button> -->
        <button type="button" class="btn btn-outline-dark">
          <i class="fa-solid fa-pen-to-square"></i>
        </button>
        <button type="button" class="btn btn-outline-dark">
          <i class="fa-solid fa-trash"></i>
        </button>
      </div>

      <img
        src="{{ educacion.urlImgEducacion }}"
        class="imgLogoTrabajo flex"
        alt=""
      />
      <h4>{{ educacion.nombreInstEducacion }}</h4>
      <a
        href="{{ educacion.linkEducacion }}"
        style="text-decoration: none"
        target="_blank"
        >Más info</a
      >
      <p>{{ educacion.descEducacion }}</p>
      <br />
    </div>
  </div>
</div>
