<div class="acercaDe" *ngIf="usuario">
  <img
    class="imgPerfil"
    src="{{ usuario.urlImgUsuario }}"
    alt="AQUI VA MI FOTO DE PERFIL"
  />
  <h1>{{ usuario.nombreUsuario }} {{ usuario.apellidoUsuario }}</h1>
  <div class="panelBotones">
    <!-- <button type="button" class="btn btn-outline-dark"><i class="fa-solid fa-plus"></i></button> -->
    <button type="button" class="btn btn-outline-dark">
      <i class="fa-solid fa-pen-to-square"></i>
    </button>
    <button type="button" class="btn btn-outline-dark">
      <i class="fa-solid fa-trash"></i>
    </button>
  </div>
  <h3>{{ usuario.tituloUsuario }}</h3>
  <p>{{ usuario.descUsuario }}</p>
</div>
